@charset "utf-8";
body{
	background : linear-gradient(-45deg, #4a4e69, #22223b, #9a8c98);
	background-size: 400% 400%;
	animation: gradient 14s ease infinite;
	height: 100vh;
	overflow: hidden;
}
@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 15px;
    color: #fff;
}
.pages{
    align-items: center;
    justify-content: center;
    flex-direction: column;
	text-align: center;
	padding-bottom: 10px
}
.logo{
    background: #000;
    width: 100vw;
    padding: 7px 0;
    text-align: center;
}
a{
	color: #e63946;
}
a:hover{
	color: antiquewhite;
}
.top{
	text-align: center;
}
.top h1{
    border: double red 4px;
    width: 28%;
    margin-left: 36%;
    font-size: 300%;
    font-style: normal;
    font-weight: 400;
    font-family: artifika;
}
.top h6{
	color: gray;
	position: fixed;
	border: solid gray 3px;
	width: 10%;
	overflow: auto;
	font-size: 100%;
	margin-top: -37mm;
	
}
.top h2{
    background: red;
    font-family: artifika;
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
    margin: 0 5px;
    margin-top: -1%;
}
.top aside{
	color: darkgoldenrod;
	border: solid 2px black;
	width: 15%;
	margin-left: 42%;
	margin-top: 0.5%;
	
}
.content h3{
    color: darkorange;
    font-size: x-large;
    font-family: alice;
    font-style: normal;
    font-weight: 400;
	margin-left: 15px;
	position: relative;
	top: 3cm;
}
.content ul{
	position: absolute;
	color: red;
	font-size: 200%;
	font-family: alice;
	margin-top: 13%;
	list-style-type:none
	
}
.content h5{
	color: orange;
	margin-left: 30cm;
	font-size: x-large;
	font-family: alice;
	position: relative;
	bottom: 50mm;
	bottom: 5mm;
}
.content ol{
	color: darkorange;
}
.content img{
	margin-left: 50%;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body{
		font-size: 7px;
}
	.top h1{
		width: 40%;
	}
	.top aside{
		width: 25%;
		margin-bottom: 13px;
		margin-left: 38mm;
		position: relative;
		top: 5px;
	}
	.top h6{
		width: 30%;
		bottom: 189mm;
		font-size: 9px;
	}
	.content h3{
		font-size: 15px;
		position: relative;
		top: 6mm;
	}
	.content ul{
		position: relative;
	}
	.content h5{
		margin:0;
		font-size: 12px;
		top: 10px;
		left: 10px;
	}
	.content img{
		width: 175px;
		height: 150px;
		position: relative;
		top: 13mm;
		right: 23mm;
	}
}

/* iPadPro */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	*{
		font-size: 23px;
	}
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	.content h5{
		margin-left: 5px;
		position: relative;
		float: left;
		top: 375px;
		
	}
	.content img{
		position: relative;
		bottom: 150px;
		left: 150px;
	}
	.top h6{
		width: 30%;
		margin-top: -240px;
	}
	.top h1{
		width: 50%;
	}
	.top aside{
		width: 35%;
		margin-top: 10px;
		margin-left: 90mm;
	}
}


/* Desktops and laptops */
@media only screen and (min-width : 1280px) and (max-width : 1900px) {
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body{
		font-size: 10.5px;
	}
	.top h6{
		position: relative;
		top: 11mm;
		
	}
	.content h3{
		position: relative;
		top: 30mm;
		left: 27px;
	}
	.content ul{
		font-size: xx-large;
		top: 55mm;
	}
	.content h5{
		margin: 0;
		position: relative;
		left: 170mm;
		top: 115px;
	}
	.content img{
		width: 250px;
		height: 225px;
		position: relative;
		top: 35mm;
		left: 40mm;
	}
}
