@charset "utf-8";
body{
	background : linear-gradient(-45deg, #4a4e69, #22223b, #9a8c98);
	background-size: 400% 400%;
	animation: gradient 14s ease infinite;
	height: 100vh;
	overflow: hidden;
}
@keyframes gradient{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
footer{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    width: 100vw;
    font-family: "Open Sans";
    padding-top: 15px;
    color: #fff;
}
.pages{
    align-items: center;
    justify-content: center;
    flex-direction: column;
	text-align: center;
	padding-bottom: 10px
}
.logo{
    background: #000;
    width: 100vw;
    padding: 7px 0;
    text-align: center;
}
a{
	color: #e63946;
}
a:hover{
	color: antiquewhite;
}
.top{
	text-align: center;
}
.top h1{
    border: double red 4px;
    width: 28%;
    margin-left: 36%;
    font-size: 300%;
    font-style: normal;
    font-weight: 400;
    font-family: artifika;
}
.top h2{
    background: red;
    font-family: artifika;
    font-style: normal;
    font-weight: 400;
    font-size: 125%;
    margin: 0 5px;
    margin-top: -1%;
}
.top h3{
	color: gray;
	position: fixed;
	border: solid gray 3px;
	width: 10%;
	overflow: auto;
	font-size: 100%;
	margin-top: -28mm;
	
}
.images{
	margin: 3% 7%;
	padding: 15mm;
}
.ad{
	position: relative;
	right: 10%;
}.aj{
	position: relative;
	right: 6%;
}.du{
	position: relative;
	right: 2%;
}.fu{
	position: relative;
	left: 2%;
}.ra{
	position: relative;
	left: 6%;
}.sh{
	position: relative;
	left: 11%;
}.um{
	position: relative;
	left: 16%;
}
.text{
    text-align: center;
    font-family: alice;
    font-style: normal;
    font-weight: 400;
	color: darkorange;
	font-size: 7px;
}
.text h1{
	border: dotted gold 2px;
    width: 11%;
	height: 52px;
	position:relative;
	bottom: 28mm;
	left: 8mm;
}.text h2{
	border: dotted gold 2px;
    width: 12%;
	height: 5%;
	position: relative;
	left: 146mm;
	bottom: 42mm;
	font-size: 13px;
}.text h3{
	border: dotted gold 2px;
    width: 12%;
	height: 5%;
	position: relative;
	left: 360mm;
	bottom: 62mm;
	font-size: 14px;
}.text h4{
	border: dotted gold 2px;
    width: 12%;
	height: 5%;
	position: relative;
	left: 285mm;
	bottom: 85mm;
	font-size: 14px;
}.text h5{
	border: dotted gold 2px;
    width: 11%;
	height: 5%;
	position: relative;
	left: 437mm;
	bottom: 109mm;
	font-size: 14px;
}.text h6{
	border: dotted gold 2px;
    width: 10%;
	height: 5%;
	position: relative;
	left: 221mm;
	bottom: 133mm;
	font-size: 14px;
}.text h7{
	border: dotted gold 2px;
    width: 12%;
	height: 5%;
	position: relative;
	bottom: 154mm;
	font-size: 14px;
	right: 147mm;
}

/* Smartphones */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body{
		font-size: 7px;
		
}
	.top h1{
	    position: relative;
		right: 2mm;
	}
	.ad{
		width: 125px;
		height: 115px;
		bottom: 60px;
		right: 60px;
	}
	.du{
		width: 125px;
		height: 115px;
		bottom: 78mm;
		left: 37mm;
	}
	.aj{
		width: 125px;
		height: 115px;
		right: 15mm;
		top: -4mm;
	}.um{
		width: 125px;
		height: 115px;
		bottom: 15.85cm;
		left: 37mm;
	}.ra{
		width: 125px;
		height: 115px;
		left: -15mm;
		bottom: 54mm;
	}.fu{
		width: 125px;
		height: 115px;
		left: 37mm;
		bottom: 23mm;
	}.sh{
		width: 125px;
		height: 115px;
		bottom: 4.7cm;
		left: 11mm;
	}
	.text h1{
		bottom: 21.8cm;
		width: 45%;
		height: 20px;
		font-size: 8px;
		left: 1mm;
		
	}
	.text h2{
		position: absolute;
		left: 52mm;
		width: 45%;
		height: 28px;
		font-size: 8px;
		top: 50mm;
	}
	.text h3{
		position: absolute;
		left: 18mm;
		font-size: 8px;
		width: 65%;
		height: 20px;
		top: 17.26cm;
	}
	.text h4{
		bottom: 14.4cm;
		left: 1mm;
		font-size: 8px;
		width: 45%;
	}
	.text h5{
		bottom: 19.7cm;
		left: 5.2cm;
		font-size: 8px;
		width: 45%;
	}
	.text h6{
		bottom: 16.75cm;
		width: 45%;
		left: 5.2cm;
		font-size: 8px;
	}
	.text h7{
		top: -21.9cm;
		left: -2.6cm;
		font-size: 8px;
	}
	.top h3{
		top: 13.8%;
		width: 20%;
		left: 6mm;
	}
	
}

/* iPadPro */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	*{
		font-size: 17px;
	}
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	.images{
		display: inline;
	}
	.ra{
		position: relative;
		top: 130mm;
	}.sh{
		position: relative;
		top: 130mm;
		left: 60mm;
	}.um{
		position: relative;
		top: 130mm;
		left: 100mm;
	}.ad{
		position: relative;
		top: 90mm;
		left: -75px;
		
	}.fu{
		position: relative;
		top: 90mm;
		left: 6mm;
	}.du{
		position: relative;
		left: 18mm;
		top: 3mm;
	}.aj{
		position: relative;
		right: 25mm;
		top: 3mm;
	}
	.text h1{
		position: relative;
		top: 130px;
		width: 23%;
		font-size: 15px;
	}
	.text h2{
		position: relative;
		bottom: 70mm;
		left: 150mm;
		width: 25%;	
	}
	.text h3{
		position: relative;
		width: 25%;
		top: 95mm;
		left: 106mm;
		font-size: 15px;
	}
	.text h4{
		position: relative;
		width: 25%;
		left: 9mm;
		top: 71mm;
	}
	.text h5{
		position: relative;
		width: 25%;
		left: 200mm;
		top: 48mm;
	}
	.text h6{
		position: relative;
		width: 25%;
		left: 195mm;
		top: -75mm;
		
	}
	.text h7{
		position: relative;
		left: -47mm;
		top: -178mm;
	}
	.top h3{
		width: 55mm;
		position: relative;
		bottom: 20px;
		left: 20px;
			
		
	}
}


/* Desktops and laptops */
@media only screen and (min-width : 1280px) and (max-width : 1281px) {
	html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body{
		font-size: 10.5px;
	}
	.aj{
		left: 1%;
	}
	.du{
		left: 11%;
	}
	.fu{
		left: 20%;
	}
	.ra{
		top: 20mm;
	}
	.sh{
		top: 20mm;
		left: 45mm;
	}
	.um{
		top: 20mm;
		left: 25%;
	}
	.text h1{
		bottom: 77mm;
		width: 17%;
		left: 35px;
	}
	.text h2{
		bottom: 9.5cm;
		height: 13mm;
		width: 17%;
		left: 50.8%;
	}
	.text h3{
		position: relative;
		left: 12.7cm;
		bottom: 3.93cm;
		width: 21%;
	}
	.text h4{
		bottom: 6.2cm;
		width: 25%;
		left: 36mm;
		height: 14mm;
	}
	.text h5{
		left: 7.8cm;
		width: 25%;
		bottom: 15.7cm;
	}
	.text h6{
		bottom: 17.9cm;
		width: 17%;
		left: 24.9cm;
	}
	.text h7{
		left: 6.8cm;
		bottom: 12.7cm;
	}
	.top h3{
		top: 13.9%;
	}
}
@media only screen and (min-width : 1440px) and (max-width : 1450px) {
		html,body {
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}
	body{
		font-size: 10.5px;
	}
	.ad{
		bottom: 20mm;
		left: -20mm;
	}
	.aj{
		left: 7%;
		bottom: 19mm;
	}
	.du{
		left: 21%;
		bottom: 18mm;
	}
	.fu{
		left: 34%;
		bottom: 17mm;
	}
	.ra{
		top: 51mm;
		left: 10%;
	}
	.sh{
		top: -5mm;
		left: 4mm;
	}
	.um{
		top: -3mm;
		left: 23%;
	}
	.text h1{
		bottom: 98mm;
		width: 20%;
		left: 35px;
		height: 10mm;
	}
	.text h2{
		bottom: 9.5cm;
		height: 9mm;
		width: 25%;
		left: 49.8%;
		bottom: 110mm;
	}
	.text h3{
		position: relative;
		left: 1.7cm;
		bottom: 5.7cm;
		width: 28%;
	}
	.text h4{
		bottom: 7cm;
		width: 30%;
		left: 255mm;
		height: 10mm;
	}
	.text h5{
		left: 13.5cm;
		width: 30%;
		bottom: 8.7cm;
	}
	.text h6{
		bottom: 17.3cm;
		width: 17%;
		left: 29.9cm;
	}
	.text h7{
		left: -4.8cm;
		bottom: 19.1cm;
	}
	.top h3{
		top: 16%;
	}
}